@charset "utf-8";
/* Download : http://www.jb51.net *?
/* Reset css*/
body, h1, h2, h3, h4, h5, h6, div, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei"
}

body {
    _overflow: auto;
    _height: 100%;
    margin: 0 auto;
}

html {
    _overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%
}

address, cite, dfn, em, var {
    font-style: normal
}

small {
    font-size: 12px
}

ul, ol, li, dl, dt, dd {
    list-style: none
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

legend {
    color: #000
}

fieldset, img {
    border: 0
}

button, input, select, textarea {
    vertical-align: middle
}
button {
    cursor: pointer
}
textarea {
    cursor: text;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.clear {
    display: block;
    float: none;
    clear: both;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    background: none;
    border: 0;
    font-size: 0
}

.hidden {
    display: none !important;
}

/*a*/
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

/*title*/
h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 9px;
}